{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form action="{{ url_for('login') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" title="Enter your username" placeholder="Username"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" title="Enter your password" placeholder="Password"><br>

    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}
